main{
    
    padding-top: 20px;
}


#circulo{
    background-color: var(--color-purple-2);
    height: 11.17px;
    width: 11.17px;
    border-radius: 100%;
    margin-right: 10px;
    color: var(--color-transparent);
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid black 1px;
    padding: 20px 0px;
}

#logo-top-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4%;

}

#imglogo{
    margin-top: 2px;
}

#button-logout
{
    display: block;

    font-family: "Inter";
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-purple-1);
    background-color: white;
        
    padding: 13px 29px;
        
    border: var(--color-purple-1) solid 1px;

    
}
#div-top-right{
    margin-right: 4%;
}

main{
    margin: 0 4%;
}

#section-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    border: 1px #00000033 solid;
    margin-bottom: 44px;

    display: none;
    
}
#div-user-contents{
    display: flex;
    flex-direction: row;
    gap: 151px;
    margin-top: 11px;
}
#button-edit{
    background: none;
    border: none;
}
#section-conexoes {
    height: 467px;
    width: 100%;
    border-radius: 0px;
    background: #F8F8F8;
    border: 1px solid #A8A8A8;

    display: none;
}
#h2-encontrado{
    margin: 200px auto;
    width:633px;
    height: 48px;
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
}



#company{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 39px;
    /* identical to box height */
    background: #4200FF;
    text-align: center;
    padding: 18px 20px 20px 20px;
    color: #FFFFFF;
}

#div-wrapper-colegas{
    padding: 58px;
}

#ul-colegas{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}


.colegas-card{
    height: 76px;
    width: 30%;

    background: #FFFFFF;
    border: 1px solid #4200FF;

    padding: 12px 24px;
    margin-bottom: 10px;
}
.h3-nome{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}
.p-posição{
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-top: 14px;
}

#button-criar{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    background-color: #4200FF;
    height: 38px;
    width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#div-departamentos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 10px;
    align-items: center;
}

#section-departamentos{
    margin-top: 60px;

}

#ul-departamento{
    width: 100%;
    height: 385px;
    list-style: none;
    background-color:#F8F8F8;
    padding: 6px 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 385px;
}

.card-departamento{
    background-color: white;
    margin: 28px 46px;
    padding: 18px 28px;
    width: 43%;
    border-bottom: #4200FF solid 1px;

    
}
.h3-departamento{
    
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

}
.p-descrição{
margin: 9px 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
}
.p-nome{
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
}
.div-icones{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 22px auto;
    height: 38px;
    width: 200px;
}


#h3-Usuários{
    text-align: center;
    height: 50px;
    width: 300px;
    margin: 0px auto;
    margin-top: 70px;

    
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 36px;
}

#section-usuarios{
    margin-bottom: 44px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-purple-1);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#select-empresa{
    border-radius: 20px;
    padding: 6px 10px;
}